<div id="round1" style="display:inline-block; vertical-align: top; width: 24%;">
	<h1 id="title" style="text-align: center">Round 1</h1>
	<div class="center">
		<%= image_tag(@kittens[0].url, size: '120') %> vs <%= image_tag(@kittens[1].url, size:'120') %><br>
		<%= image_tag(@kittens[2].url, size: '120') %> vs <%= image_tag(@kittens[3].url, size:'120') %><br>
		<%= image_tag(@kittens[4].url, size: '120') %> vs <%= image_tag(@kittens[5].url, size:'120') %><br>
		<%= image_tag(@kittens[6].url, size: '120') %> vs <%= image_tag(@kittens[7].url, size:'120') %><br>
		<%= image_tag(@kittens[8].url, size: '120') %> vs <%= image_tag(@kittens[9].url, size:'120') %><br>
		<%= image_tag(@kittens[10].url, size: '120') %> vs <%= image_tag(@kittens[11].url, size:'120') %><br>
		<%= image_tag(@kittens[12].url, size: '120') %> vs <%= image_tag(@kittens[13].url, size:'120') %><br>
		<%= image_tag(@kittens[14].url, size: '120') %> vs <%= image_tag(@kittens[15].url, size:'120') %><br>
	</div>
</div>

<div id="round2" style="display:inline-block; vertical-align: top; width: 24%;">
	<h1 id="title" style="text-align: center">Round 2</h1>
	<div class="center">
		<%= image_tag(@kittens[0].url, size: '120') %><br>
		<%= image_tag(@kittens[2].url, size: '120') %><br>
		<%= image_tag(@kittens[4].url, size: '120') %><br>
		<%= image_tag(@kittens[6].url, size: '120') %><br>
		<%= image_tag(@kittens[8].url, size: '120') %><br>
		<%= image_tag(@kittens[10].url, size: '120') %><br>
		<%= image_tag(@kittens[12].url, size: '120') %><br>
		<%= image_tag(@kittens[14].url, size: '120') %><br>
	</div>
</div>

<div id="round3" style="display:inline-block; vertical-align: top; width: 24%;">
	<h1 id="title" style="text-align: center">Round 3</h1>
	<div class="center">
		<div id="top"><%= image_tag(@kittens[0].url, size: '120') %></div><br>
		<%= image_tag(@kittens[2].url, size: '120') %><br>
		<%= image_tag(@kittens[4].url, size: '120') %><br>
		<%= image_tag(@kittens[6].url, size: '120') %><br>
	</div>
</div>

<div id="round4" style="display:inline-block; vertical-align: top; width: 24%;">
	<h1 id="title" style="text-align: center">Round 4</h1>
	<div class="center">
		<div id="top"><%= image_tag(@kittens[4].url, size: '120') %></div><br>
		<%= image_tag(@kittens[6].url, size: '120') %><br>
	</div>
</div>
